/*
!.gitignore
!README.md
!.zshrc
!.zshenv
!.tmux.conf
!.gitignore.defaults
!.vimrc

!/scripts

!/.config
/.config/**/

!/.config/nvim
!/.config/nvim/**

!/.config/alacritty
!/.config/alacritty/**

!/.config/htop
!/.config/htop/**

!/.config/zed
/.config/zed/**
!/.config/zed/settings.json
!/.config/zed/keymap.json

